apiVersion: v1
kind: Service
metadata:
  name: '${SERVICE@microservice-data-config}'
  namespace: '${NAMESPACE@microservice-config}'
  labels:
    moduleid: microservice-data
    version: 1.70.2-blog-home-prod
spec:
  clusterIP: None
  ports:
    -
      port: '${INTERNAL_PORT@microservice-data-config}'
      targetPort: '${INTERNAL_PORT@microservice-data-config}'
  selector:
    app: '${STATEFUL@microservice-data-config}'
